<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Review",
  "itemReviewed": {
    "@type": "Service",
    "name": {{ page.provider_name | jsonify }},
    "url": "{{ page.provider_url | escape }}",
    "provider": {
      "@type": "Organization",
      "name": {{ page.provider_name | jsonify }},
      "url": "{{ page.provider_url | escape }}"
    },
    "serviceType": "Minecraft server hosting"
  },
  "author": {
    "@type": "Person",
    "name": {{ site.author.name | default: "Wild Nature" | jsonify }},
    "url": "{{ site.url }}{{ site.author.url | default: '/about/' }}"
  },
  "datePublished": "{{ page.date | date: '%Y-%m-%d' }}",
  "dateModified": "{{ page.last_updated | default: page.date | date: '%Y-%m-%d' }}",
  "reviewRating": {
    "@type": "Rating",
    "ratingValue": "{{ page.rating }}",
    "bestRating": "10",
    "worstRating": "1"
  },
  "name": {{ page.title | jsonify }},
  "reviewBody": {{ page.description | jsonify }},
  "publisher": {
    "@type": "Organization",
    "name": {{ site.publisher | default: site.title | jsonify }},
    "url": "{{ site.url }}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ '/assets/img/logo.jpg' | absolute_url }}"
    }
  }
}
</script>
